.upline {
  background-color: #2980b9;
  width: 100%;
  height: auto;
  color: #fff;
  font-weight: 400;
}

.upline__icon {
  float: left;
  padding-top: 3px;
  font-size: 100%;
}

.upline__text {
  float: left;
  margin: 0px 30px 0px 4px;
  padding-top: 3px;
  font-size: 93%;
}

.upline__icon--2 {
  float: right;
  margin: -3px 0px -6px 12.5px;
  color: #fff;
  font-size: 140%;
  transition: all 0.25s ease-in-out;
}

.upline__icon--2:hover {
  color: #f7d794;
  transform: scale(1.15);
}

@media screen and (max-width: 421px) {
  .upline__icon {
    padding-top: 2px;
    font-size: 95%;
  }
  .upline__text {
    margin: 0px 10px 0px 4px;
    padding-top: 2px;
    font-size: 87.5%;
  }
  .upline__icon--2 {
    margin: -3px 0px -6px 8px;
    font-size: 130%;
  }
}

@media screen and (max-width: 376px) {
  .upline__icon {
    padding-top: 0.5px;
    font-size: 90%;
  }
  .upline__text {
    margin: 0px 10px 0px 4px;
    padding-top: 1px;
    font-size: 85%;
  }
  .upline__icon--2 {
    margin: -2.5px 0px -6px 6px;
    font-size: 115%;
  }
}

@media screen and (max-width: 321px) {
  .upline__icon {
    padding-top: 0.5px;
    font-size: 80%;
  }
  .upline__text {
    margin: 0px 10px 0px 4px;
    padding-top: 1px;
    font-size: 75%;
  }
  .upline__icon--2 {
    margin: -2.5px 0px -6px 6px;
    font-size: 100%;
  }
}

@media screen and (max-width: 300px) {
  .upline {
    display: none;
  }
}

.menu {
  border: 1px solid #ddd;
}

.navbar {
  min-height: 110px;
}

@media screen and (max-width: 991.5px) {
  .navbar {
    min-height: unset;
  }
}

.navbar .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-toggler {
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand__img {
  float: left;
}

.navbar-brand__text {
  float: left;
  margin: 8px 0 0 5px;
  color: #2980b9;
  letter-spacing: 0.5px;
  font-size: 120%;
  font-weight: 700;
}

@media screen and (max-width: 300px) {
  .navbar-brand__text {
    margin-top: 13.5px !important;
    font-size: 90% !important;
  }
}

.nav-link--custom {
  position: relative;
  margin-right: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #444;
  font-size: 116%;
  font-weight: 600;
  transition: all 0.5s;
}

.nav-link--custom:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 991.5px) {
  .nav-link--custom {
    margin-right: unset;
  }
}

.nav-link--custom:hover {
  background-color: #eee;
  color: #2980b9 !important;
}

.nav-link--custom:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #2980b9;
  width: 0%;
  height: 5%;
  color: transparent;
  content: ".";
  transition: all 0.5s;
}

.nav-link--custom:hover:after {
  width: 100%;
}

.nav-link--custom-active {
  background-color: #eee;
  color: #2980b9 !important;
}

.nav-link--custom-active:after {
  width: 100% !important;
}

.nav-link--div {
  position: relative;
  margin: 0 25px 5px 0;
}

@media screen and (max-width: 991.5px) {
  .nav-link--div {
    margin-right: unset;
  }
}

.nav-link--dropdown {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #444;
  font-size: 116%;
  font-weight: 600;
  transition: all 0.5s;
}

.nav-link--dropdown:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #2980b9;
  width: 0%;
  height: 5%;
  color: transparent;
  content: ".";
  transition: all 0.5s;
}

.nav-link--dropdown:hover {
  background-color: #eee;
  color: #2980b9 !important;
}

.nav-link--dropdown:hover:after {
  width: 100%;
}

.nav-link--dropdown[aria-expanded="true"] {
  background-color: #eee;
  color: #2980b9 !important;
}

.nav-link--dropdown[aria-expanded="true"]:after {
  display: none;
}

.dropdown-menu {
  display: none;
  left: -10px;
  opacity: 0;
  margin: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 0;
  border-radius: 0;
  padding: 0;
  max-height: 0;
  transition: all 0.1s;
  transition-timing-function: ease;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
  margin: 7.5px 0 5px;
  border: 1.5px solid #2980b9;
  max-height: 300px;
}

@media screen and (max-width: 991.5px) {
  .dropdown-menu.show {
    margin: 5px 0;
  }
}

@media only screen and (min-width: 991.5px) {
  .dropdown-menu::before {
    position: absolute;
    top: -21px;
    left: calc(45% - 55px);
    border: 0.8em solid transparent;
    border-bottom: 7px solid #2980b9;
    width: 0px;
    height: 0px;
    content: "";
  }
}

.dropdown-item {
  padding: 6px 30px;
  transition: all 0.2s;
}

.dropdown-item:hover,
.dropdown-item--active {
  background-color: #eee;
}

.dropdown-item:hover .dropdown-item-text,
.dropdown-item:hover .angle-down,
.dropdown-item--active .dropdown-item-text,
.dropdown-item--active .angle-down {
  color: #2980b9;
}

.dropdown-item__div {
  position: relative;
}

.dropdown-item__text {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #444;
  font-size: 90%;
  font-weight: 500;
  transition: all 0.2s;
}

.dropdown-item__subtext {
  margin-top: -2.5px;
  margin-bottom: 0px;
  padding-left: 0px;
  color: #aaa;
  font-size: 77.5%;
  font-weight: 500;
}

.angle-down {
  position: absolute;
  top: 0.5px;
  left: -15px;
  color: #444;
  font-size: 90%;
  transition: all 0.2s;
}
