.login {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2980b9;
}

.login__div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 25px;
  background-color: #f6f6f6;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
  border-radius: 3px;
}

.login__img {
  width: 140px;
}

.login__title {
  margin: 15px 0 5px;
  font-size: 32px;
  font-weight: 600;
}

.login__screenTitle {
  margin: 0px 0px 5px;
  font-size: 23px;
  font-weight: 500;
  color: #777;
}