<div class="post-box">
  <div class="post-box__div-img">
    <img [src]="imgUrl" class="post-box__img" />
  </div>
  <div class="post-box__body">
    <p class="post-box__title" title="{{ title }}">{{ title }}</p>
    <div class="post-box__text">
      <content-container [Content]="contents"></content-container>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-5 col-sm-6 col-6">
        <a class="btn btn--custom" (click)="postClick(id)">
          {{ string.readMore }}
        </a>
      </div>
    </div>
  </div>
</div>
