.post-box {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
}

.post-box:hover .post-box__img {
  transform: scale(1.05);
}

.post-box__div-img {
  overflow: hidden;
  width: 100%;
}

.post-box__img {
  overflow: hidden;
  width: 100%;
  transition: all 0.5s;
}

.post-box__body {
  position: relative;
  padding: 20px 20px 15px;
  border: 1px solid #555;
}

.post-box__title {
  position: absolute;
  top: -25px;
  left: 7.5%;
  width: 85%;
  font-family: "Merriweather";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 110%;
  margin-bottom: 0px;
  background-color: #fff;
  box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px,
    rgb(60 64 67 / 5%) 0px 1px 3px 1px;
  border: 1px solid #555;
  padding: 5px;
}

.post-box__text {
  overflow: hidden;
  font-family: "Merriweather";
  margin-bottom: 10px;
  line-height: 22.5px;
  height: 100px;
  word-wrap: break-word;
  font-size: 14px;
}

.post-box__text content-text .content-text {
  font-size: 14px;
}

.post-box .btn--custom {
  padding: 3px 12px;
  width: 100%;
  font-size: 92%;
}
