<p class="info-title">{{ string.title }}</p>
<p class="info-text">{{ string.text }}</p>
<div class="info-div">
  <fa-icon class="info-div__icon" [icon]="faMap"></fa-icon>
  <p class="info-div__text">{{ string.subTextAddress }}</p>
</div>
<div class="info-div">
  <fa-icon class="info-div__icon" [icon]="faPhoneAlt"></fa-icon>
  <p class="info-div__text">{{ string.subTextPhone }}</p>
</div>
<div class="info-div">
  <fa-icon class="info-div__icon" [icon]="faEnvelopeOpenText"></fa-icon>
  <p class="info-div__text">{{ string.subTextEmail }}</p>
</div>
