<p class="contact-title">Get in Touch</p>
<p class="contact-text">For any of your questions or planning a meet-up please get in touch. 
    You can call, send a mail, or send a message over our web site.
</p>
<p class="contact-sub-text">
    <fa-icon class="contact-icon" [icon]="faMap"></fa-icon>
    2880 Broadway - New York 10025
</p>
<p class="contact-sub-text">
    <fa-icon class="contact-icon" [icon]="faPhoneAlt"></fa-icon>
    +1 (555) 123-4567
</p>
<p class="contact-sub-text">
    <fa-icon class="contact-icon"[icon]="faEnvelopeOpenText"></fa-icon>
    test-mail@test.com
</p>