<p class="contact-title">{{ string.title }}</p>
<p class="contact-text">{{ string.text }}</p>
<div class="contact-sub-div">
    <fa-icon class="contact-icon" [icon]="faMap"></fa-icon>
    <p class="contact-sub-text">{{ string.subTextAddress }}</p>
</div>
<div class="contact-sub-div">
    <fa-icon class="contact-icon" [icon]="faPhoneAlt"></fa-icon>
    <p class="contact-sub-text">{{ string.subTextPhone }}</p>
</div>
<div class="contact-sub-div">
    <fa-icon class="contact-icon" [icon]="faEnvelopeOpenText"></fa-icon>
    <p class="contact-sub-text">{{ string.subTextEmail }}</p>
</div>
