.contact-title {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 0px;
}

.contact-text {
    color: #6A6A6A;
    margin-bottom: 30px;
}

.contact-sub-div {
    position: relative;
    color: #6A6A6A;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 95%;
}

.contact-icon {
    position: absolute;
    color: #2980B9;
    font-size: 130%;
    top: -4px;
}

.contact-sub-text {
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 30px;
}