.info-title {
  margin-bottom: 0px;
  font-size: 29px;
  font-weight: 500;
}

.info-text {
  margin-bottom: 30px;
  color: #6a6a6a;
}

.info-div {
  position: relative;
  margin-bottom: 15px;
  color: #6a6a6a;
  font-size: 95%;
  font-weight: 500;
}

.info-div__icon {
  position: absolute;
  top: -4px;
  color: #2980b9;
  font-size: 130%;
}

.info-div__text {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 30px;
}
