.tab {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  padding: 0px !important;
}

.tab.animation {
  width: 100%;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

.tab__img-div {
  width: calc(100% - 50px);
  margin-bottom: 50px;
  margin-right: 50px;
  background-color: #ffffff;
  background-image: radial-gradient(#2980b9 1.5px, #ffffff 1.1px);
  background-size: 10px 10px;
}

.tab__img {
  width: 100%;
  transform: translate(30px, 25px);
  border-right: 4px solid #2980b9;
  border-bottom: 4px solid #2980b9;
}

@media (max-width: 993px) {
  .tab__img-div {
    min-height: 250px;
  }
}

@media (max-width: 576px) {
  .tab__img-div {
    min-height: 200px;
    background-image: none;
    margin-right: 0px;
    margin-bottom: 25px;
    width: 100%;
  }

  .tab__img {
    transform: none;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
  }
}
