.tabs-main {
    margin-top: 10px; 
    margin-bottom: 20px; 
    padding-left: 0px; 
    padding-right: 0px;
}

.tab-header-row {
    width: 85%; 
    margin: auto;
}

.tab-header {
    height: 75px;
    margin: 0px 7.5px 0px 7.5px;
    position: relative;
    background-color: #5ca9db;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 5%) 0px 1px 3px 1px;
    cursor: pointer;
    margin-top: 0px;
    transition: all 0.25s;
    z-index: 100;
}

.tab-header:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #2677ab;
    height: 7px;
    transition: all .5s; 
}

.tab-header:hover:after {
    width: 100%;
}

.tab-header-active::before {
    background-color: #2677ab;
    content: "\00a0";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 2.5px);
    transform: rotate(47deg) skew(5deg);
    -moz-transform: rotate(47deg) skew(5deg);
    -ms-transform: rotate(47deg) skew(5deg);
    -o-transform: rotate(47deg) skew(5deg);
    -webkit-transform: rotate(47deg) skew(5deg);
    z-index: -1;
}

.tab-header-active::after {
    width: 100%;
}

.tab-header-img-div {
    background-color: #FFF;
    display: inline-block; 
    padding: 2.5px;
    position: absolute;
    left: calc(50% - 32.5px);
    top: -30px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
    border: 1px solid #666;
    z-index: 200;
    
}

.tab-header-img {
    filter: invert(47%) sepia(64%) saturate(540%) hue-rotate(160deg) brightness(95%) contrast(92%);
    width: 55px;
    height: 55px;
}

.tab-header-text-div {
    text-align: center; 
    padding-top: 37.5px;
}

.tab-header-text {
    color: #FFF; 
    font-size: 110%; 
    text-shadow: 0px 0px 5px rgb(0 0 0 / 70%);
}

@media (max-width: 993px) { 
    .tab-header {
        height: 70px;
    }
    .tab-header-img-div {
        left: calc(50% - 25px);
        top: -25px;
    }
    .tab-header-img {
        width: 50px;
        height: 50px;
    }
    .tab-header-text-div {
        padding-top: 33px;
    }    
}

@media (max-width: 768px) { 
    .tab-header-row {
        width: 90%; 
    }
    .tab-header {
        height: 65px;
    }
    .tab-header-img-div {
        left: calc(50% - 22.5px);
        top: -22.5px;
    }
    .tab-header-img {
        width: 45px;
        height: 45px;
    }
    .tab-header-text-div {
        padding-top: 30.5px;
    }
    .tab-header-text {
        font-size: 100%; 
    }
}

@media (max-width: 576px) { 
    .tab-header-row {
        width: 95%; 
    }
    .tab-header {
        height: 60px;
    }
    .tab-header-img-div {
        left: calc(50% - 20px);
        top: -20px;
    }
    .tab-header-img {
        width: 40px;
        height: 40px;
    }
    .tab-header-text-div {
        padding-top: 27.5px;
    }   
    .tab-header-text {
        font-size: 90%; 
    }
}




