<div *ngIf="contents != null && contents.length > 0" class="about-content">
  <div *ngIf="texts != null && texts.length > 0">
    <div *ngFor="let text of texts">
      <content-text [Content]="text.content"></content-text>
    </div>
  </div>
  <div *ngIf="lists != null && lists.length > 0">
    <div *ngFor="let list of lists; let i = index">
      <div *ngIf="i % 2 == 0" class="row">
        <div class="col-lg-6">
          <content-list-big [Content]="lists[i]"></content-list-big>
        </div>
        <div class="col-lg-6" *ngIf="i + 1 < lists.length">
          <content-list-big [Content]="lists[i + 1]"></content-list-big>
        </div>
      </div>
    </div>
  </div>
</div>
