<div class="profile-main">
  <div class="profile-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Non enim praesent
    elementumfacilisis leo. Libero enim sed faucibus turpis. Urna neque viverra
    justo necultrices dui sapien. Nulla malesuada pellentesque elit eget. Urna
    porttitor rhoncus dolor purus non. Id aliquet lectus proin nibh. Ut sem
    viverra aliqueteget sit. Et odio pellentesque diam volutpat. Ridiculus mus
    mauris vitaeul tricies leo integer malesuada nunc vel. Et leo duis ut diam
    quam nullaporttitor massa id. Eget aliquet nibh praesent tristique magna sit
    amet purus. Adipiscing commodo elit at imperdiet dui accumsan.
  </div>
  <div class="profile-text">
    Lacus luctus accumsantortor posuere ac ut consequat semper viverra. Sit amet
    mattis vulputate enimnulla aliquet porttitor lacus luctus. Diam ut venenatis
    tellus in metusvulputate eu scelerisque. Vitae tortor condimentum lacinia
    quis. Facilisisgravida neque convallis a cras semper. Tristique senectus et
    netus etmalesuada. Ac turpis egestas maecenas pharetra convallis posuere.
    Dolor sedviverra ipsum nunc aliquet bibendum enim. Viverra orci sagittis eu
    volutpatodio facilisis mauris sit. Senectus et netus et malesuada fames ac.
    Donec etodio pellentesque diam volutpat commodo. Eget felis eget nunc
    lobortis mattisaliquam faucibus. Nisl vel pretium lectus quam id leo in
    vitae.
  </div>
  <div class="row mt-4">
    <div class="col-lg-6" style="margin-bottom: 25px">
      <h4 class="mb-3">Education</h4>
      <div class="profile-list" *ngFor="let education of educations">
        <div>
          <fa-icon
            class="profile-list-title-icon"
            [icon]="faAngleRight"
          ></fa-icon>
          <p class="profile-list-title">{{ education.title }}</p>
        </div>
        <p class="profile-list-subtitle">{{ education.subTitle }}</p>
      </div>
    </div>
    <div class="col-lg-6" style="margin-bottom: 25px">
      <h4 class="mb-3">Studies</h4>
      <div class="profile-list" *ngFor="let study of studies">
        <div>
          <fa-icon
            class="profile-list-title-icon"
            [icon]="faAngleRight"
          ></fa-icon>
          <p class="profile-list-title">{{ study.title }}</p>
        </div>
        <p class="profile-list-subtitle">{{ study.subTitle }}</p>
      </div>
    </div>
  </div>
</div>
