.service__img {
  margin-bottom: 30px;
  width: 100%;
  box-shadow: rgb(60 64 67 / 20%) 0px 1px 2px 0px,
    rgb(60 64 67 / 10%) 0px 1px 3px 1px;
}

.service__title {
  margin-bottom: 5px;
  font-size: 190%;
}

.service__subtitle {
  color: #666;
  font-size: 110%;
  font-style: italic;
}
