<div class="container pt-lg-5 pt-3 pb-lg-5 pb-3">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="row">
        <div class="col-lg-9">
          <img class="service__img" [src]="imgUrl" />
          <h3 class="service__title">{{ title }}</h3>
          <p class="mb-4 service__subtitle">{{ subTitle }}</p>
          <div class="mb-lg-0 mb-4">
            <content-container [Content]="content"></content-container>
          </div>
        </div>
        <div class="col-lg-3">
          <all-services></all-services>
        </div>
      </div>
    </div>
  </div>
</div>
