
<header></header>
<div class="contact-main pt-lg-5 pt-3 pb-lg-5 pb-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-6">
                        <contact-info></contact-info>
                    </div>
                    <div class="col-lg-6">
                        <contact-form></contact-form>                    
                    </div>
                </div>        
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <contact-map></contact-map>
                    </div>
                </div>   
            </div>       
        </div>      
    </div>
</div>
<footer></footer>