<div class="container mt-5 pb-5">
  <div
    *ngFor="
      let row of data.rows.slice(
        (selectedPage - 1) * 2,
        (selectedPage - 1) * 2 + 2
      )
    "
    class="row justify-content-center"
  >
    <div class="col-lg-10">
      <div class="row">
        <div *ngFor="let post of row.posts" class="col-lg-4 mb-4">
          <post-box
            [Title]="post.title"
            [Content]="post.content"
            [ImgUrl]="post.imgUrl"
            [Id]="post.id"
          ></post-box>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pagination" class="row">
    <div class="pages">
      <a
        *ngFor="let pageButton of pages"
        class="pages__button"
        [ngClass]="{ selected: this.pageButton == this.selectedPage }"
        (click)="pageClick(pageButton)"
        >{{ pageButton }}</a
      >
    </div>
  </div>
</div>
