<div class="footer">
  <div class="container">
    <div class="row justify-content-md-center" style="padding-top: 10px">
      <div class="col-lg-10">
        <div class="row">
          <div class="col" style="position: relative">
            <img
              src="../../../../assets/img/logo.svg"
              alt="Logo"
              class="footer__icon"
            />
            <a [href]="link.linkedin" target="_blank">
              <fa-icon
                class="footer__social-icon"
                [icon]="faLinkedin"
              ></fa-icon>
            </a>
            <a [href]="link.youtube" target="_blank">
              <fa-icon class="footer__social-icon" [icon]="faYoutube"></fa-icon>
            </a>
            <a [href]="link.instagram" target="_blank">
              <fa-icon
                class="footer__social-icon"
                [icon]="faInstagram"
              ></fa-icon>
            </a>
            <a [href]="link.twitter" target="_blank">
              <fa-icon class="footer__social-icon" [icon]="faTwitter"></fa-icon>
            </a>
            <button class="btn btn--contact">{{ string.contact }}</button>
          </div>
        </div>
        <div class="row">
          <p class="footer__icon-text">{{ string.title }}</p>
          <p class="footer__description">{{ description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer--2">
  <div class="row">
    <p class="footer--2__text">{{ string.designed }}</p>
  </div>
</div>
