.footer {
  background-color: #333;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.footer__icon {
  width: 80px;
  height: 60px;
  filter: invert(41%) sepia(6%) saturate(13%) hue-rotate(328deg) brightness(93%)
    contrast(89%);
}

.footer__social-icon {
  float: right;
  margin: -3px 0px -6px 12.5px;
  color: #666;
  font-size: 145%;
  transition: all 0.25s ease-in-out;
}

.footer__social-icon:hover {
  color: #f7d794;
}

.footer__icon-text {
  display: block;
  float: left;
  margin-top: 4px;
  margin-bottom: 2.5px;
  letter-spacing: 0.5px;
  color: #666;
  font-size: 115%;
  font-weight: 700;
}

.footer__description {
  display: inline-block;
  margin-bottom: 5px;
  color: #666;
  font-size: 78%;
  font-weight: 600;
}

.btn--contact {
  position: absolute;
  top: 40px;
  right: 10px;
  border: 2px solid #666;
  border-radius: 0;
  padding: 3px 12px;
  width: auto;
  color: #666;
  font-size: 95%;
  font-weight: 500;
  transition: all 0.2s;
}

.btn--contact:hover {
  border-color: #f7d794;
  color: #f7d794;
}

.footer--2 {
  background-color: #262626;
}

.footer--2 .row {
  margin: 0px;
  text-align: center;
}

.footer--2__text {
  margin: 5px auto;
  color: #666;
  font-size: 75%;
  font-weight: 500;
}
