.post-img {
  width: 100%;
  box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px,
    rgb(60 64 67 / 5%) 0px 1px 3px 1px;
}

.post-title {
  font-family: "Merriweather";
  font-size: 160%;
  text-align: center;
}

.post-author {
  text-align: center;
  font-style: italic;
  font-size: 90%;
  color: #666;
}

.post-content {
  font-family: "Merriweather";
  font-size: 90%;
  line-height: 26px;
  text-align: justify;
}
