<div class="container mt-5 pb-5">
  <div class="row justify-content-md-center">
    <div class="col-xl-10">
      <div class="row">
        <div class="col-lg-9">
          <img class="post-img mb-4" [src]="imgUrl" />
          <h3 class="post-title">{{ title }}</h3>
          <p class="post-author mb-4">by {{ author }}</p>
          <div [innerHtml]="content" class="post-content"></div>
        </div>
        <div class="col-lg-3">
          <latest-posts></latest-posts>
        </div>
      </div>
    </div>
  </div>
</div>
