.profile-header {
  text-align: center;
  position: relative;
  background-color: #2980b9;
  margin-bottom: 90px;
}

.profile-name {
  color: #fff;
  font-size: 230%;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.profile-title {
  color: #d7d7d7;
  font-size: 130%;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.profile-pic {
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  border: 1px solid #666;
  margin-bottom: -60px;
  border-radius: 50%;
}

@media (max-width: 360px) {
  .profile-name {
    font-size: 210%;
  }

  .profile-title {
    font-size: 120%;
  }
}

@media (max-width: 320px) {
  .profile-name {
    font-size: 185%;
  }

  .profile-title {
    font-size: 110%;
  }
}
