.about-header {
  position: relative;
  margin-bottom: 90px;
  background-color: #00804c;
  text-align: center;
}

.about-header__name {
  margin-bottom: 5px;
  letter-spacing: 3px;
  color: #fff;
  font-size: 220%;
  font-weight: 600;
}

.about-header__title {
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  color: #d7d7d7;
  font-size: 120%;
  font-weight: 500;
}

.about-header__pic {
  margin-bottom: -60px;
  border: 1px solid #666;
  border-radius: 50%;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

@media (max-width: 360px) {
  .about-header__name {
    font-size: 210%;
  }

  .about-header__title {
    font-size: 120%;
  }
}

@media (max-width: 320px) {
  .about-header__name {
    font-size: 185%;
  }

  .about-header__title {
    font-size: 110%;
  }
}
