.post-main {
  background-color: #f6f6f6;
}

.title {
  position: relative;
  min-height: 230px;
  text-shadow: 0px 0px 5px rgb(0 0 0 / 70%);
  font-family: "Merriweather";
}

.title__background {
  position: absolute;
  background-image: url("../../../../assets/img/blog.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 15;
}

@media (max-width: 576px) {
  .title__background {
    background-attachment: initial;
  }
}

.title__layer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 20;
  cursor: pointer;
}

.title__text {
  text-align: center;
  font-size: 200%;
  margin-bottom: 0px;
  padding-top: 96px;
  color: #fff;
  letter-spacing: 1px;
}
