.custom-label {
    font-weight: 500;
    font-size: 90%;
}

.custom-form {
    margin: 10px 0px 30px 0px;
}

.form-control {
    border: 1px solid #BBB;
    border-radius: 0px;
}

.form-control:focus {
    box-shadow: none;
}

.custom-textarea {
    resize: none;
}

.custom-btn {
    color: #373737;
    background-color: #FFF;
    border: 1px solid #373737;
    width: 100%;  
    border-radius: 0px;
    font-weight: 500; 
    transition: all .2s; 
}

.custom-btn:hover {
    background-color: #2677AB;
    color: #FFF;
    border: 1px solid #2980B9;
}