<form class="form--custom" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="form-group col-md-6 mb-3">
      <div class="form-div">
        <label class="form-div__label">{{ string.name }}</label>
        <input type="text" formControlName="name" class="form-control" />
        <p class="form-div__warning" *ngIf="this.contactForm.get('name')?.invalid && this.contactForm.get('name')?.touched">
          {{ string.nameWarning }}
        </p>
      </div>
    </div>
    <div class="form-group col-md-6 mb-3">
      <div class="form-div">
        <label class="form-div__label">{{ string.surname }}</label>
        <input type="text" formControlName="surname" class="form-control" />
      </div>
    </div>
  </div>
  <div class="form-group mb-3">
    <div class="form-div">
      <label class="form-div__label">{{ string.email }}</label>
      <input type="email" formControlName="email" class="form-control" />
      <p class="form-div__warning" *ngIf="this.contactForm.get('email')?.invalid && this.contactForm.get('email')?.touched">
        {{ string.emailWarning }}
      </p>
    </div>
  </div>
  <div class="form-group mb-3">
    <div class="form-div">
      <label class="form-div__label">{{ string.phone }}</label>
      <input type="tel" formControlName="telephone" class="form-control" />
      <p
        class="form-div__warning"
        *ngIf="
          this.contactForm.get('telephone')?.invalid &&
          this.contactForm.get('telephone')?.touched
        "
      >
        {{ string.phoneWarning }}
      </p>
    </div>
  </div>
  <div class="form-group mb-3">
    <div class="form-div">
      <label class="form-div__label">{{ string.message }}</label>
      <textarea
        formControlName="message"
        rows="3"
        class="form-control form-div__textarea"
      ></textarea>
      <p
        class="form-div__warning"
        *ngIf="
          this.contactForm.get('message')?.invalid &&
          this.contactForm.get('message')?.touched
        "
      >
        {{ string.messageWarning }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <button
        type="submit"
        class="btn btn--custom"
        [disabled]="this.contactForm.touched && this.contactForm.invalid"
      >
        {{ string.submit }}
      </button>
    </div>
  </div>
</form>
