.form--custom {
  margin: 10px 0px 30px 0px;
}

.form__label {
  font-size: 95%;
  font-weight: 500;
}

.form-control {
  border: 1px solid #bbb;
  border-radius: 0px;
  padding-top: 4px;
  font-size: 92.5%;
}

.form-control:focus {
  box-shadow: none;
}

.form__textarea {
  resize: none;
}

.btn--custom {
  width: 100%;
}
